@import url("nav.css");
@import url("footer.css");
@import url("side.css");
@import url("model.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #e0f7fa;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 8fr;
  gap: 20px;
  padding: 20px;
}
.blog-container {
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #0077b6;
}
.post-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.post-row {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.post-card {
  background-color: #f9f9f9;
  padding: 15px;
  max-width: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 1 1 250px;
}

.post-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.post-card h2 a {
  color: #333;
  text-decoration: none;
}

.post-card h2 a:hover {
  color: #4caf50;
}

@media (max-width: 800px) {
  .post-row {
    flex-direction: column;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  .post-card h2 a {
    font-size: 1.2em;
  }
}
